## Recreate and save plate platemaps or batch metadata 

Here we read all metadata information we have and incorporate any other metadata information for each batch of data and save it in a standard format 

* Save folder:
  - s3://imaging-platform/projects/2017_10_19_Profiling_rare_ORFs/workspace/metadata/reprocessed

In [3]:
%matplotlib notebook
%load_ext autoreload
%autoreload 2

import black
import jupyter_black

jupyter_black.load(
    lab=False,
    line_length=79,
    verbosity="DEBUG",
    target_version=black.TargetVersion.PY310,
)

import pandas as pd
import numpy as np

save_reprocessed_path='/home/ubuntu/bucket/projects/2021_09_01_VarCHAMP/workspace/metadata/reprocessed/'
# save_reprocessed_path='/home/ubuntu/bucket/projects/2017_10_19_Profiling_rare_ORFs/workspace/metadata/reprocessed/'

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

### Experiment by Chloe for poscon negcon selection
- 2022_08_22_Batch_1

In [11]:
rootDir='/home/ubuntu/bucket/projects/2021_09_01_VarCHAMP/workspace/'
batch='2022_08_22_Batch_1'
platemap=pd.read_csv(rootDir+'/metadata/platemaps/'+batch+'/platemap/2022_08_08_PPL8_100-800.txt', sep='\t')
platemap['batch']=batch
# batch_platemap= pd.read_csv(rootDir+'/metadata/'+batch+'/platemap/BRD4780_1.txt', sep=" ", header=None)
annot_df=platemap.rename(columns={'plate_map_name':'Metadata_Plate','well_position':'Metadata_Well'})

list_of_control_names=['negcon']
annot_df['control']=False
annot_df.loc[annot_df['control_type'].isin(list_of_control_names),'control']=True
annot_df['Variant']=annot_df['allele'].str.upper().str.rstrip('_NA').str.rstrip(' WT').str.replace(' ','_')
# annot_df['Variant']=annot_df['Sample name']
annot_df['Gene']=annot_df['Variant'].apply(lambda x: x.split('_')[0])
annot_df['MT']=annot_df['Variant'].apply(lambda x: x.split('_')[-1])
# annot_df['Metadata_Sample_uniqe']=annot_df['Variant']+'-'+annot_df['Treatment']
annot_df.loc[annot_df['Gene']==annot_df['MT'],'MT']=''

annot_df['Metadata_batch_Plate']=annot_df['batch']+'-'+annot_df['Metadata_Plate']
annot_df['Variant']=annot_df['Variant'].str.replace('_',' ')
annot_df['Metadata_Sample_Unique']=annot_df['Variant']+'-'+annot_df['vTitre'].astype(str)
annot_df.to_csv(save_reprocessed_path+batch+'.csv',index=False)
annot_df.head()

,Metadata_Plate,Metadata_Well,control_type,vTitre,Row,Col,allele,batch,control,Variant,Gene,MT,Metadata_batch_Plate,Metadata_Sample_Unique
0,2022_08_08_PPL8_100-800,A01,NaN,18,1,1,ACSF3_,2022_08_22_Batch_1,False,ACSF3,ACSF3,,2022_08_22_Batch_1-2022_08_08_PPL8_100-800,ACSF3-18
1,2022_08_08_PPL8_100-800,B01,NaN,6,2,1,ACSF3_,2022_08_22_Batch_1,False,ACSF3,ACSF3,,2022_08_22_Batch_1-2022_08_08_PPL8_100-800,ACSF3-6
2,2022_08_08_PPL8_100-800,C01,NaN,18,3,1,ACSF3_Arg10Trp,2022_08_22_Batch_1,False,ACSF3 ARG10TRP,ACSF3,ARG10TRP,2022_08_22_Batch_1-2022_08_08_PPL8_100-800,ACSF3 ARG10TRP-18
3,2022_08_08_PPL8_100-800,D01,NaN,6,4,1,ACSF3_Arg10Trp,2022_08_22_Batch_1,False,ACSF3 ARG10TRP,ACSF3,ARG10TRP,2022_08_22_Batch_1-2022_08_08_PPL8_100-800,ACSF3 ARG10TRP-6
4,2022_08_08_PPL8_100-800,E01,NaN,18,5,1,ACSF3_Gly119Asp,2022_08_22_Batch_1,False,ACSF3 GLY119ASP,ACSF3,GLY119ASP,2022_08_22_Batch_1-2022_08_08_PPL8_100-800,ACSF3 GLY119ASP-18

In [33]:
# platemap

In [10]:
ls /home/ubuntu/bucket/projects/2021_09_01_VarCHAMP/workspace/metadata

cpjump1_all_orf_replicate_correlation.csv*  platemaps/
Mislocalized_Variants.xlsx*                 reprocessed/

### First Pass - Pilot Variant Painting
- 2023_02_23_Batch_3

In [89]:
rootDir='/home/ubuntu/bucket/projects/2021_09_01_VarCHAMP/workspace/'
batch='2023_02_23_Batch_3'
platemap=pd.read_csv(rootDir+'/metadata/platemaps/'+batch+'/platemap/PPL9.txt', sep='\t')
platemap=platemap[~platemap['node_type'].isnull()].reset_index(drop=True)
platemap['batch']=batch
# batch_platemap= pd.read_csv(rootDir+'/metadata/'+batch+'/platemap/BRD4780_1.txt', sep=" ", header=None)
annot_df=platemap.rename(columns={'plate_map_name':'Metadata_Plate','well_position':'Metadata_Well'})
list_of_control_names=['TC']
annot_df['control']=False
annot_df.loc[annot_df['node_type'].isin(list_of_control_names),'control']=True
# annot_df['Variant']=annot_df['allele'].str.upper().str.rstrip('_NA').str.rstrip(' WT').str.replace(' ','_')
# annot_df['Variant']=annot_df['Sample name']

annot_df['Gene']=annot_df['Symbol']#.apply(lambda x: x.split('_')[0])
annot_df['MT']=annot_df['aa_change']#.apply(lambda x: x.split('_')[-1])
# annot_df['Metadata_Sample_uniqe']=annot_df['Variant']+'-'+annot_df['Treatment']
# annot_df.loc[annot_df['Gene']==annot_df['MT'],'MT']=''
annot_df.loc[annot_df['MT'].isnull(),'MT']=''


# annot_df['Variant']=annot_df['Variant'].str.replace('_',' ')
annot_df['Variant']=annot_df['Gene']+' '+annot_df['MT']
annot_df['Variant']=annot_df['Variant'].str.rstrip()
annot_df['Metadata_Sample_Unique']=annot_df['Variant']#+'-'+annot_df['vTitre'].astype(str)

plates = ['2022_10_11_PPL9_P1','2022_09_29_PPL9_P2','2022_09_29_PPL9_P3']
annot_ls=[]
for p in plates:
#     print(p)
    annot_df2 = annot_df.copy()
    annot_df2['Metadata_Plate'] = p
    annot_ls.append(annot_df2)
    
annot_df_all=pd.concat(annot_ls, ignore_index=True)
annot_df_all['Metadata_batch_Plate']=annot_df_all['batch']+'-'+annot_df_all['Metadata_Plate']

annot_df_all.to_csv(save_reprocessed_path+batch+'.csv',index=False)
annot_df_all.head()

,Metadata_Well,384_ID,entryID,Symbol,entry_plate.x,entry_well.x,entry_numb,dest_plate_96,dest_well_96,dest_numb_96,...,r384,c384,Metadata_Plate,batch,control,Gene,MT,Variant,Metadata_Sample_Unique,Metadata_batch_Plate
0,A01,1_1,DisWTGDEh03_F06,ACSF3,DisWTGDEh03,F06,46.0,FVrry_P01_Q01,A01,1.0,...,1.0,1.0,2022_10_11_PPL9_P1,2023_02_23_Batch_3,False,ACSF3,,ACSF3,ACSF3,2023_02_23_Batch_3-2022_10_11_PPL9_P1
1,C01,3_1,VUSmut_GDEh03_A02,ACSF3,VUSmut_GDEh03,A02,9.0,FVrry_P01_Q01,B01,2.0,...,3.0,1.0,2022_10_11_PPL9_P1,2023_02_23_Batch_3,False,ACSF3,Ala197Thr,ACSF3 Ala197Thr,ACSF3 Ala197Thr,2023_02_23_Batch_3-2022_10_11_PPL9_P1
2,E01,5_1,VUSmut_GDEh03_A03,ACSF3,VUSmut_GDEh03,A03,17.0,FVrry_P01_Q01,C01,3.0,...,5.0,1.0,2022_10_11_PPL9_P1,2023_02_23_Batch_3,False,ACSF3,Thr358Ile,ACSF3 Thr358Ile,ACSF3 Thr358Ile,2023_02_23_Batch_3-2022_10_11_PPL9_P1
3,G01,7_1,VUSmut_GDEh03_B02,ACSF3,VUSmut_GDEh03,B02,10.0,FVrry_P01_Q01,D01,4.0,...,7.0,1.0,2022_10_11_PPL9_P1,2023_02_23_Batch_3,False,ACSF3,Met198Arg,ACSF3 Met198Arg,ACSF3 Met198Arg,2023_02_23_Batch_3-2022_10_11_PPL9_P1
4,I01,9_1,VUSmut_GDEh03_B03,ACSF3,VUSmut_GDEh03,B03,18.0,FVrry_P01_Q01,E01,5.0,...,9.0,1.0,2022_10_11_PPL9_P1,2023_02_23_Batch_3,False,ACSF3,Glu359Lys,ACSF3 Glu359Lys,ACSF3 Glu359Lys,2023_02_23_Batch_3-2022_10_11_PPL9_P1

In [ ]:
annot_df_all[]

In [62]:
# annot_df['aa_change'].unique()
annot_df[['Symbol','node_type','nt_change','aa_change']]

annot_df.groupby('aa_change').size()#.describe()

aa_change
Ala135Thr    1
Ala135Val    1
Ala171Thr    1
Ala177Asp    1
Ala186Val    1
            ..
Val394Met    1
Val397Ile    1
Val469Met    1
Val56Leu     1
Val94Asp     1
Length: 254, dtype: int64

In [63]:
annot_df.groupby('nt_change').size()#.describe()

nt_change
1009G>C    2
1013T>G    1
1016G>A    1
101G>T     1
1020A>G    2
          ..
93C>A      1
956A>T     1
956C>T     1
976G>A     1
991T>A     1
Length: 252, dtype: int64

In [66]:
annot_df[annot_df['nt_change']=='1020A>G'][['nt_change','aa_change']]

   nt_change  aa_change
70   1020A>G  Ile340Met
74   1020A>G  Ile340Met

In [53]:
# annot_df['c96'].unique()

,Metadata_Well,384_ID,entryID,Symbol,entry_plate.x,entry_well.x,entry_numb,dest_plate_96,dest_well_96,dest_numb_96,...,chr,chr_pos_37,chr_pos_38,aa_ch2,c96,r96,r384,c384,Metadata_Plate,batch
110,E06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PPL9,2023_02_23_Batch_3
384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PPL9,2023_02_23_Batch_3

In [26]:
annot_df['Symbol']

0         ACSF3
1         ACSF3
2         ACSF3
3         ACSF3
4         ACSF3
         ...
380    516 - TC
381    516 - TC
382    516 - TC
383    516 - TC
384         NaN
Name: Symbol, Length: 385, dtype: object